numpy==1.26.3
pandas==2.2.0
matplotlib==3.8.2
seaborn==0.13.2
scipy==1.12.0
scikit-learn==1.4.0
plotly==5.19.0
statsmodels==0.14.1
adjustText==1.1.1
ipympl==0.9.4
nltk==3.8.1
pillow==10.3.0
pandarallel==1.6.5
gensim==4.3.2
transformers==4.42.3
torch==2.3.1
opencv-python-headless
plot_keras_history
tensorflow
tensorflow-macos
requests